<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="animated-card">
    <ion-card-header>
      <ion-card-title>Acceso a SaludApp</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
      </ion-item>
      
      <ion-item style="margin-top: 10px;">
        <ion-checkbox [(ngModel)]="recordarCredenciales" style="margin-right: 10px;"></ion-checkbox>
        <ion-label>Recordar mis credenciales</ion-label>
      </ion-item>
      
      <ion-button expand="block" color="primary" (click)="login()" class="animated-btn" style="margin-top: 1rem;">
        Ingresar
      </ion-button>
    </ion-card-content>
  </ion-card>
  <div style="text-align: center; margin-top: 16px;">
  <ion-button expand="block" color="secondary" (click)="irARegistrarse()" class="animated-btn" style="margin-top: 1rem;">
  Registrarse
</ion-button>
</div>
</ion-content>


<ion-footer>
  <ion-toolbar color="light">
    <ion-title size="small" style="text-align:center; font-size: 14px;">
      © 2025 SaludApp Clínica
    </ion-title>
  </ion-toolbar>
</ion-footer>